:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: black;
}

.address-menu-item {
    color: black;
    text-decoration: none;
    font-style: normal;
}

.address-menu-item:hover {
    color: var(--iris);
    text-decoration: none;
    font-style: normal;
}

.address-menu-item:focus     {
    color: var(--iris);
    text-decoration: none;
    font-style: normal;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: var(--white);
}

.title-section {
    background-color: var(--navy-blue);
}


button {
    background-color: var(--iris);
    cursor: pointer;
    letter-spacing: 4%;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 24%;
}

button:hover {
    background-color: var(--ocean);
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

ul {
    list-style: none;
}

.team-section {
    background-color: var(--cloud);
}

.team-section-item {
    background-color: var(--white);
}

footer {
    background-color: var(--navy-blue);
    color: var(--white);
}

.footer-logo {
    color: var(--white);
}